
.cards {
  display: flex;
}

.card-width {
  width: 150px;
  height: auto;
}
.serach{
  margin-left: 20%;
  /* justify-content:space-between; */
  margin-top: 10px;
  
}

  .form-outline{
    padding-left:  12rem;

  }
  .active {
    border: 2px solid #009688;
}